.card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  box-shadow: 0px 0px 50px #00000090;
  transition: all 200ms ease-in;
  transform: scale(1.03);
}
.card:hover .card-content {
  display: flex;
  top: 55%;
}

.card-img {
  position: relative;
  max-width: 300px;
}

.movie-image {
  background-image: url(https://www.mearto.com/assets/no-image-83a2b680abc7af87cfff7777d0756fadb9f9aecd5ebda5d34f8139668e0fc842.png);
  position: relative;
  max-width: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.card-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #00000090;
  background-size: cover;
  color: white;
  width: 100%;
  height: 40%;
}
.card-title {
  position: absolute;
  padding-left: 2px;
  text-transform: uppercase;
}

.card-date {
  position: absolute;
  padding-left: 2px;
  top: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.card-rating {
  position: absolute;
  top: 3em;
  right: 0em;
  display: flex;
  color: rgb(236, 236, 67);
}

.movie-app {
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
}
.movie-app-header {
  display: flex;
  justify-content: space-between;
}
.name-filter {
  height: 50px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 10px;
}
.name-filter-text {
  flex: 1;
  border: 2px solid black;
}
.name-filter-button {
  border: 2px solid black;
  border-left: none;
  background-color: transparent;
  padding: 0 10px;
}

.movie-app-main {
  margin-top: 20px;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
}
.movie-card,
.new-movie-card {
  border: 2px solid black;
  width: 300px;
  height: 400px;
  position: relative;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.new-movie-card {
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-app {
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
}
.movie-app-header {
  display: flex;
  justify-content: space-between;
}
.name-filter {
  height: 50px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 10px;
}
.name-filter-text {
  flex: 1;
  border: 2px solid black;
}
.name-filter-button {
  border: 2px solid black;
  border-left: none;
  background-color: transparent;
  padding: 0 10px;
}
.rating-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.rating-filter-text {
  font-size: 1em;
  color: black;
}

.rating-filter-stars {
  justify-content: center;
  color: rgba(236, 233, 31, 0.952);
  font-size: 30px;
}
.movie-app-main {
  margin-top: 20px;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
}
.movie-card,
.new-movie-card {
  border: 2px solid black;
  width: 300px;
  height: 420px;
  position: relative;
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.movie-rating {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border: 2px solid rgb(0, 0, 0);
  border-top: none;
  border-right: none;
  color: rgba(236, 233, 31, 0.952);
}

.movie-description {
  border-top: 2px solid black;
  text-align: center;
  padding: 10px;
}
.new-movie-card {
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
